@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Cheese Shop</h1>
    <p class="lead">
        The Cheese Shop &trade; is the #1 place for cheese on the internet.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Why not take a moment to register with us, to receive updates on the world of cheese.
        </p>
        <p>
            <a href="@Url.Action("Register", "Member")" class="btn btn-default">Register &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Browse our cheese catalog</h2>
        <p>
            Here at the Cheese Shop we carry an extensive number of cheese.
        </p>
        <p><a class="btn btn-default" href="#">Browse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn about cheese</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>