@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/***
 * Default overrides
 */

html, body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 16px;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color: #444444;
}

/***
 * Simple shadow
 */

.shadow {
  -webkit-box-shadow: 10px 0px 5px #aaaaaa;
     -moz-box-shadow: 10px 0px 5px #aaaaaa;
      -ms-box-shadow: 10px 0px 5px #aaaaaa;
       -o-box-shadow: 10px 0px 5px #aaaaaa;
          box-shadow: 10px 0px 5px #aaaaaa;
}

/***
 * Layout
 */

.body {
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: auto !important;
  height: 100%;
  min-height: 100%;

  background-color: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 0 1px 0 1px;
}

.body > * {
  margin: 0;
  padding: 1px 16px;
}

.body__header,
.body__footer {
  background-color: #259B24;
  color: white;
}

.body__header--text,
.body__footer--text {
  color: white;
}

.body__header {
}

.body__content {
}

.body__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.body__footer * {
  color: white;
}

/***
 * Stats table
 */

.stats {

}

.stats > table {
  width: 100%;
  border-collapse: collapse;
}
.stats > * {
  font-size: 0.75em;
}
.stats__column--header,
.stats__row--header {
  background-color: #2BAF2B;
  border: solid 1px #72D572;
  color: #ffffff;
}
.stats__cell {
  background-color: #d0f8ce;
  border: solid 1px #A3E9A4;
}

.stats__column--name {
  width: 96px;
}

.stats__column--number {
  text-align: right;
  width: 96px;
}

/***
 * Animations
 */

.animIn
{
	-webkit-animation: flipInX 1s ease 1;
     -moz-animation: flipInX 1s ease 1;
	    -ms-animation: flipInX 1s ease 1;
	     -o-animation: flipInX 1s ease 1;
	        animation: flipInX 1s ease 1;
}

.animOut
{
	-webkit-animation: flipOutX 1s ease 1;
	   -moz-animation: flipOutX 1s ease 1;
	    -ms-animation: flipOutX 1s ease 1;
	     -o-animation: flipOutX 1s ease 1;
	        animation: flipOutX 1s ease 1;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    opacity: 0;
  }
}
