@model CheeseShop.Domain.Events.ExistingMemberRegisteredEvent

<style>
    html, body, p, th, td, h1, h2, h3, h4, h5, ol, ul, li, a {
	    color: #000;
	    font-family: Calibri;
	    font-size: 14px;
    }
    h1, h2, h3, h4, h5 {
    	font-family: Century Gothic;
        color: #8c8c8c;
        border-bottom: 1px solid #a52a2a;
    }
    th  { text-align: right; }
    a   { color: #a52a2a; }
    h1	{ font-size: 3em; }
    h2	{ font-size: 2em; }
    h3	{ font-size: 1.5em; }
    h4	{ font-size: 1.25em; }
    h5	{ font-size: 1em; }
</style>

<h3>Security Update from The Cheese Shop @Model.RealForename</h3>

<p>
    Please be aware that someone attempted to register an email address that belongs
    to you. This attempt was not successful. If this was you, then you already have
    a Cheese Shop account, and you should use the Forgotten Password link on the website.
</p>

<p>Please note that we always handle your private information Caerfilly.</p>

<p>Regards, The Cheese Shop online protection team.</p>

